
body {
    max-width: 960px;
    color: #444;
    font: 11pt sans-serif;
    padding: 0 1em;
}

a {
    color: #0069cb;
}

a:hover {
    color: #0084ff;
}

img {
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

pre, code {
    color: #222;
    font: 10pt monospace;
    background-color: #eee;
    white-space: pre-wrap;
}

blockquote {
    color: #777;
    margin: 1em 3em;
    padding: 0 1em;
    border-left: 5px solid #bbb;
}